{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('home') }}" class="btn btn-primary">revenir sur l'accueil</a>
<h1> Qui suis-je ?</h1>
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, perferendis.</p>
    </div>
{% endblock %}

{% block title 'A propos'%}


