{% extends 'base.html.twig' %}
{% block title "Accueil" %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div>
        <div style="height: 1000px;">

            <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">Slide 01</li>
                        <li class="splide__slide">Slide 02</li>
                        <li class="splide__slide">Slide 03</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <script>
        import Splide from '@splidejs/splide';

        new Splide( '.splide' ).mount();
    </script>

*{% endblock %}
