{% extends 'base.html.twig' %}
{% block title "Accueil" %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div>
        <div style="height: 1000px;">
            <h1>home page</h1>
            <a href="{{ path('contact') }}">me contacter</a>
        </div>
    </div>
{% endblock %}
